.frontpage {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
}
.facebook {
  display: flex;
  flex-direction: column;
  background-color: azure;
  margin-top: 20%;
}
.instagram {
  display: flex;
  margin-top: 20%;
}
.mcstyle {
  position: fixed;
  display: flex;
  background: transparent;
  margin-top: 15%;
}
