.history {
  backdrop-filter: blur(7px);
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.p {
  padding: 1%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: -10%;
}
.p:hover {
  background-color: black;
  box-shadow: 0 1px 8px rgba(175, 109, 109, 0.25);
  transition: transform 0.2s;
}
