.intro {
  text-align: center;
  backdrop-filter: blur(7px);
  
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 10%;
  padding-bottom: 7%;
}

.intro:hover {
  background-color: black;
  box-shadow: 0 1px 8px rgba(175, 109, 109, 0.25);
  transition: transform 0.2s;
}
