.styleForRestOfPages {
    padding: 1%;
    background-color: transparent;
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }
  .styleForRestOfPages:hover {
    background-color: black;
    box-shadow: 0 1px 8px rgba(175, 109, 109, 0.25);
    transition: transform 0.2s;
  }