.carousel {
  display: block;
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 7%;
  padding-bottom: 7%;
}

.slide_direction {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.left,
.right {
  background-color: gold;
  border-radius: 100%;
  position: absolute;

  margin-left: 9%;
  margin-right: 9%;
  margin-top: -1%;
  height: 50px;
  width: 50px;
}
.left {
  left: 0;
  padding-top: 15px;
  padding-left: 3px;
}
.right {
  right: 0;
  padding-top: 15px;
  padding-left: 5px;
}
.carousel-indicator {
  margin-top: 20%;
  display: flex;
  justify-content: center;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-flex;
}
.active {
  background-color: gold;
}
.image-resize {
  max-width: 50%;
  max-height: 50%;
}
.p-carousel {
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.p-carousel:hover {
  background-color: black;
  box-shadow: 0 1px 8px rgba(175, 109, 109, 0.25);
  transition: transform 0.2s;
}
