.carousel {
  background-color: black;
  margin-top: 10%;

  display: block;
  margin-left: auto;
  margin-right: auto;

  flex-direction: column;
  text-align: center;
}

.slide_direction {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.left,
.right {
  background-color: gold;
  border-radius: 100%;
  position: absolute;

  margin-left: 9%;
  margin-right: 9%;
  margin-top: -1%;
  height: 50px;
  width: 50px;
}
.left {
  left: 0;
  padding-top: 15px;
  padding-left: 3px;
}
.right {
  right: 0;
  padding-top: 15px;
  padding-left: 5px;
}
.carousel-indicator {
  margin-top: 20%;
  display: flex;
  justify-content: center;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-flex;
}
.active {
  background-color: gold;
}
