.navbar {
  position: fixed;
  top: 0px;
  width: 100%;

  background: black;
  padding: 1%;
  justify-content: center;
  align-items: center;
  gap: 1%;
  text-align: center;
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.navbutton {
  background-color: black;
  font-size: 150%;
  color: cornsilk;
}
.navbutton:hover {
  background-color: gold;
}
.active {
  transition: transform 0.2s;
  box-shadow: 0 2px 30px rgb(255, 255, 255);
}
