.navbar {
  position: fixed;
  top: 0px;
  width: 95%;
  max-width: 100%;
  background: transparent;
  margin: 1%;
  justify-content: center;
  align-items: baseline;
  gap: 1%;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.navbutton {
  background-color: black;
  font-size: 150%;
  color: cornsilk;
}
.navbutton:hover {
  background-color: gold;
}
.active {
  transition: transform 0.2s;
  box-shadow: 0 2px 30px rgb(255, 255, 255);
}
